<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>CornDemo</servlet-name>
		<servlet-class>full.aw.Servlets.CornDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CornDemo</servlet-name>
		<url-pattern>/CornDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppointmentReminder</servlet-name>
		<servlet-class>full.aw.Servlets.AppointmentReminder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppointmentReminder</servlet-name>
		<url-pattern>/AppointmentReminder</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SendRemainder</servlet-name>
		<servlet-class>full.aw.Servlets.SendRemainder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendRemainder</servlet-name>
		<url-pattern>/SendRemainder</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaloonProject</servlet-name>
		<servlet-class>full.aw.Servlets.SaloonProjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaloonProject</servlet-name>
		<url-pattern>/saloonproject</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FindUser</servlet-name>
		<servlet-class>full.aw.Servlets.FindUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindUser</servlet-name>
		<url-pattern>/FindUser</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>full.aw.Servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FindAvalability</servlet-name>
		<servlet-class>full.aw.Servlets.FindAvalability</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindAvalability</servlet-name>
		<url-pattern>/FindAvalability</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>BookAppointment</servlet-name>
		<servlet-class>full.aw.Servlets.BookAppointment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookAppointment</servlet-name>
		<url-pattern>/BookAppointment</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateUser</servlet-name>
		<servlet-class>full.aw.Servlets.UpdateUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUser</servlet-name>
		<url-pattern>/UpdateUser</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AddService</servlet-name>
		<servlet-class>full.aw.Servlets.AddService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddService</servlet-name>
		<url-pattern>/AddService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateService</servlet-name>
		<servlet-class>full.aw.Servlets.UpdateService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateService</servlet-name>
		<url-pattern>/UpdateService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteService</servlet-name>
		<servlet-class>full.aw.Servlets.DeleteService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteService</servlet-name>
		<url-pattern>/DeleteService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SupportUpdateAppointment</servlet-name>
		<servlet-class>full.aw.Servlets.SupportUpdateAppointment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SupportUpdateAppointment</servlet-name>
		<url-pattern>/SupportUpdateAppointment</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateAppointment</servlet-name>
		<servlet-class>full.aw.Servlets.UpdateAppointment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateAppointment</servlet-name>
		<url-pattern>/UpdateAppointment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateApp</servlet-name>
		<servlet-class>full.aw.Servlets.UpdateApp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateApp</servlet-name>
		<url-pattern>/UpdateApp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateApp</servlet-name>
		<servlet-class>full.aw.Servlets.UpdateApp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateApp</servlet-name>
		<url-pattern>/UpdateApp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteAccount</servlet-name>
		<servlet-class>full.aw.Servlets.DeleteAccount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAccount</servlet-name>
		<url-pattern>/DeleteAccount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PasswordReset</servlet-name>
		<servlet-class>full.aw.Servlets.PasswordReset</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PasswordReset</servlet-name>
		<url-pattern>/PasswordReset</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResetPass</servlet-name>
		<servlet-class>full.aw.Servlets.ResetPass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResetPass</servlet-name>
		<url-pattern>/ResetPass</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RedirectUrl</servlet-name>
		<servlet-class>full.googlesignin.RedirectUrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RedirectUrl</servlet-name>
		<url-pattern>/RedirectUrl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserAuth</servlet-name>
		<servlet-class>full.googlesignin.GetTokens</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserAuth</servlet-name>
		<url-pattern>/UserAuth</url-pattern>
	</servlet-mapping>	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
